@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

:root {
  --primary-color: ;
  --secondary-color: ;
  --font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: var(--font-size);
}

.container {
  width: 80%;
  margin: 0 auto;
}
